.core__container {
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
  background: #fff;
  border-radius: 32px;
}
.img img {
  border-radius: 32px 32px 0 0;
  height: 100%;
  width: 100%;
}

.text__contain {
  padding: 41px 38px;
  /* background: #fff;
  border-radius: 0 0 32px 32px; */
}

.cone__heading {
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 64px;
  /* or 106% */

  letter-spacing: 1px;

  /* Grayscale / Title-Active */

  color: #14142b;
}
.cone__text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.75px;
  color: #4e4b66;
}
.button__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}

.button__container--left {
  display: flex;
  align-items: center;
}

.count {
  margin: 0 8px 0 8px;
  font-size: 16px;
  line-height: 32px;

  text-align: center;
  letter-spacing: 0.75px;

  color: #14142b;
}
.button {
  height: 32px;
  width: 32px;
  font-size: 24px;
  border: none;
  text-align: center;
  outline: none;
  background: #eff0f7;
  border-radius: 22px;
}
.button__container__right {
  background: #ded3ff;
  padding: 7px 16px;
  display: flex;
  align-items: center;
  border-radius: 39px;
}
.button__right--text {
  font-size: 13px;
  line-height: 18px;

  text-align: center;
  letter-spacing: 0.75px;
  margin-left: 8px;
  color: #2a00a2;
}
