.tags--container {
  border-radius: 32px;
  box-shadow: 0px 8px 16px rgba(17, 17, 17, 0.04);
  padding: 3.5rem 4.6rem;
  background: #fff;
  position: relative;
}
.tags-root {
  display: flex;
}

.tags-left--check,
.tags-left--switch,
.radio-root {
  display: flex;
  align-items: center;
}

.tags-left--switch {
  display: flex;
  justify-content: space-between;
  margin-top: 58px;
}
.increment-btn--container {
  display: flex;
  justify-content: space-between;
  margin-top: 105px;
}
.minusBtn,
.plusBtn {
  width: 32px;
  height: 32px;
  left: 0px;
  border: 2px solid #5f2eea;
  box-sizing: border-box;
  border-radius: 32px;
  color: #5f2eea;
  outline: none;
  font-size: 20px;
}
.plusBtn {
  /* margin-left: 75px; */
}
.count {
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  letter-spacing: 0.75px;
  color: #14142b;
  /* margin: 0 16px; */
}
.left-first--check{
  margin-right: 4.6rem;
}
.tags-right {
  margin-left: 10rem;
}

.left-first--switch {
  margin-right: 2.125rem;
}
.right-first--radio {
  margin-right: 4.625rem;
}
.radio-root {
  display: flex;
  margin-top: -15px;
}
.increment-btn--container {
  display: flex;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 32px;
  height: 32px;
  border-radius: 100%;
  background: #d6d8e7;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 24px;
  height: 24px;
  background: #f7f7fc;
  position: absolute;
  top: -2px;
  left: 0px;
  border: 7px solid #5f2eea;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* check-box */

.styled-checkbox {
  position: absolute;
  opacity: 0;
}
.styled-checkbox + label {
  position: relative;
  cursor: pointer;
  padding: 0;
}
.styled-checkbox + label:before {
  content: '';
  margin-right: 10px;
  display: inline-block;
  vertical-align: text-top;
  width: 32px;
  height: 32px;
  background: #d6d8e7;
  border-radius: 100%;
}
.styled-checkbox:hover + label:before {
  /*   background: #f35429; */
}
.styled-checkbox:focus + label:before {
}
.styled-checkbox:checked + label:before {
  box-shadow: 0 0 0 5px rgba(95, 46, 234, 0.3);
  background: #5f2eea;
}
.styled-checkbox:checked + label:after {
  content: '';
  position: absolute;
  left: 10px;
  top: 16px;
  background: #d6d8e7;
  width: 2px;
  height: 2px;
  box-shadow: 2px 0 0 #d6d8e7, 4px 0 0 #d6d8e7, 4px -2px 0 #d6d8e7,
    4px -4px 0 #d6d8e7, 4px -6px 0 #d6d8e7, 4px -8px 0 #d6d8e7,
    4px -10px 0 #d6d8e7;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}

li {
  list-style: none;
  margin: 20px 0;
}

/* toggle css */

.switch__input {
  display: block;
  opacity: 0;
}
#switch__label {
  position: relative;
  width: 60px;
  height: 34px;
  display: inline-block;
  background: #D6D8E7;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
}

#switch__label:after {
  content: '';
  position: absolute;
  left: 2px;
  top: 1px;
  width: 30px;
  height: 30px;
  background: #fcfcfc;
  border-radius: 50%;
  box-shadow: 1px 3px 6px #666666;
}

.switch__input:checked + #switch__label {
  background: #5f2eea;
}

.switch__input:checked + #switch__label:after {
  left: auto;
  right: 2px;
}
