*,
div {
  box-sizing: border-box;
}
body {
  background: #e5e5e5;
  margin: 0;
  padding: 0;
}
.App {
  /* width: 100vw;
  height: 100vh; */
  box-sizing: border-box;
  background: #e5e5e5;
  padding: 100px 12rem;
}
.section__one,
.section__two,
.section__three {
  display: flex;
}
.section__two,
.section__three {
  margin-top: 70px;
}
